<mat-toolbar color="primary">
  <div class="header__inner">
    <a class="header__title" routerLink="/">Algorithm Visualizer</a>
    <nav class="header__nav">
      <a
        class="header__link"
        mat-button
        routerLink="/sorting"
        routerLinkActive="active"
      >
        Sorting
      </a>

      <a
        class="header__link"
        mat-button routerLink="/pathfinding"
        routerLinkActive="active"
      >
        Pathfinding
      </a>
    </nav>
  </div>

</mat-toolbar>
